<div class="class-details">
    <h3>{{ classInfo.name }}</h3>
    <div class="filename">{{ classInfo.filename }}</div>

    <div class="lines-container">
        <table>
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Hits</th>
                    <th>Branch</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of classInfo.lines">
                    <td>{{ line.number }}</td>
                    <td [ngClass]="getHitsClass(line.hits)">{{ line.hits }}</td>
                    <td>{{ line.branch ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>